<!-- handlebars for login page, user input requested for signup/login page-->

<section class="card text-center">
      <div class="card-text">
        <h3 class="card-title">Login</h3>
        <form id="login">
            <div class="card-text">
            <label for="loginUsername">Enter Username</label>
            <input type="text" placeholder="username" id="loginUsername">
            </div>
            <div class="card-text">
            <label for="loginPassword">Enter Password</label>
            <input type="text" placeholder="password" id="loginPassword">
            </div>
            <button>Login</button><br>
            <a href="/signup">Sign up</a>
        </form>
    </div>
</section>

<script src="/javascript/login.js"></script>